.card{
    position:absolute;

    background:white;

    padding:15px 20px;

    border-radius:16px;

    box-shadow:0 15px 40px rgba(0,0,0,.12);

    display:flex;

    align-items:center;

    gap:15px;

    animation:float 4s ease-in-out infinite;
}

.card span{
    font-size:30px;
}

.card h4{
    font-size:17px;
    color:#1E293B;
}

.card p{
    font-size:14px;
    color:#64748B;
}

.report-card{
    top:30px;
    left:-80px;
}

.heart-card{
    top:40px;
    right:-70px;
}

.ai-card{
    bottom:30px;
    right:-60px;
}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}