.back-login{

    text-align:center;

    margin-top:25px;
}

.back-login a{

    color:#2563EB;

    text-decoration:none;

    font-weight:600;

    transition:.3s;
}

.back-login a:hover{

    text-decoration:underline;
}